horizontal-spinner {
  .hs-container {
    display: -webkit-box;
    overflow-x: scroll;
    font-size: 14px;
    .hs-option {
      margin: 2px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: grey;
      background-color: lightgrey;
      padding: 3px;
      .hs-icon {
        font-size: 1em;
        padding: 1px;
      }
      .hs-text-container {
        .hs-title {
          font-weight: bold;
          padding: 1px;
        }
        .hs-subtitle {
          padding: 1px;
        }
      }
    }
    .hs-selected {
      background-color: #222222;
    }
  }
}
