horizontal-spinner {
  .hs-container {
    display: -webkit-box;
    overflow-x: scroll;
    font-size: 14px;
    .hs-option {
      margin: 2px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #999999;
      border: 2px solid #eeeeee;
      padding: 3px;
      .hs-icon {
        font-size: 1em;
        padding: 1px;
      }
      .hs-image {
        width: 80%;
        height: 80%;
        margin: 8px;
        object-fit: cover;
      }
      .hs-text-container {
        .hs-title {
          font-weight: bold;
          padding: 1px;
        }
        .hs-subtitle {
          padding: 1px;
        }
      }
      &.reverse {
        flex-direction: column-reverse;
      }
    }
    &.hs-not-selected {
      .hs-option {
        opacity: .5;
      }
    }
    .hs-selected {
      opacity: 1 !important;
      color: color($colors, primary);
      border-color: color($colors, primary);
    }
  }
}
